<div style="margin-left:90px;position:absolute;">
    <a href="/"><button class="btn btn-success" type="button">Home</button></a>
</div>
<div class="container-fluid">
    <form action="/article" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Enter title here...">
        <label for="post">Post:</label>
        <textarea id="post" name="post1" placeholder="Enter post here..." rows="10"></textarea>
        <label for="more-info">More Info:</label>
        <input type="text" id="more-info" name="info" placeholder="Enter more info here...">
        <input type="submit" value="Submit">
    </form>
</div>
